div. Number of servers: #{servers.length}
br
each server in servers
	div.server
		div.mac
			| #{server.MAC} ( 
			a(href="#",class="servername",data-type="text",data-pk="#{server._id}",data-url="/server/set",data-name="name",data-title="Enter server name"). #{server.name}
			|  )
		div.date. Created: #{server.created}
		div.date
			| Expiration date: 
			a(href="#",class="expirationdate",data-type="date",data-pk="#{server._id}",data-url="/server/set",data-name="expirationDate",data-title="Select expiration date"). #{moment(server.expirationDate).format("YYYY-MM-DD")}
		div.date. Last Sync: #{server.lastSync}
		div.accountName
			| Account: 
			- var dataValue = (server.account != null ? server.account._id : '')
			- var dataLabel = (server.account != null ? server.account.name : '')
			a(href="#",class='account',data-name="account",data-type="select",data-pk="#{server._id}",data-value="#{ dataValue }",data-source="/account/all",data-title="Select account",data-url="/server/set"). #{ dataLabel }
